---
const Testimonios=[

{
imgSrc: '/src/img/Logos/venezia.PNG',
altText: 'logo-venezia',
title: 'PANADERIA VENEZIA',
manager: 'FABIAN M.',
textCard:'La transformación digital ha mejorado nuestra eficiencia.',
province:'San Luis, Argentina',
email:'panaderiaveneziasl@gmail.com',
},

{
imgSrc: '/src/img/Logos/Inmoluc.PNG',
altText: 'logo-Inmoluc',
title: 'INMOLUC ',
manager: 'JOSÉ M.',
textCard:'Nuestro sistema personalizado ha optimizado nuestras operaciones diarias.',
province:'San Luis, Argentina',
email:'inmolucl@gmail.com',
},
{
imgSrc: '/src/img/Logos/Barbieri.PNG',
altText: 'logo-Barbieri',
title: 'Barbieri',
manager: 'SEBASTIAN B.',
textCard:'La transformación digital ha mejorado nuestra eficiencia.',
province:'San Luis, Argentina',
email:'sebastianb@gmail.com',
},
{
imgSrc: '/src/img/Logos/Credian2.PNG',
altText: 'logo-Credian',
title: 'credian',
manager: 'JOSÉ M.',
textCard:'La transformación digital ha mejorado nuestra eficiencia.',
province:'San Luis, Argentina',
email:'credian.sl@gmail.com',
},

]
---



<swiper-container class="md:pt-20 hidden md:inline border-2 container"
 pagination="true" 
 pagination-clickable="true" 
 slides-per-view="3"
 space-between="30"     
 free-mode="true"
 autoplay-delay="2000" >
 {Testimonios.map(testimonio=>(
    <swiper-slide class="">
        <div class="border-2 border-gray-950 border-opacity-5 w-[275px] max-w-sm mx-auto overflow-hidden rounded-lg shadow-lg dark:bg-gray-800 mb-5 lg:mb-0">
            <img class="object-contain p-2 text-center object-center w-full h-56 bg-white" src={testimonio.imgSrc} alt="logo-venezia">
         
            <div class="flex items-center px-6 py-3 bg-gray-900">
                
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white"viewBox="0 0 32 32"><path fill="currentColor" d="M16 8a5 5 0 1 0 5 5a5 5 0 0 0-5-5m0 8a3 3 0 1 1 3-3a3.003 3.003 0 0 1-3 3"/><path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14.016 14.016 0 0 0 16 2m-6 24.377V25a3.003 3.003 0 0 1 3-3h6a3.003 3.003 0 0 1 3 3v1.377a11.9 11.9 0 0 1-12 0m13.993-1.451A5 5 0 0 0 19 20h-6a5 5 0 0 0-4.992 4.926a12 12 0 1 1 15.985 0"/></svg>
        
                <h1 class="mx-3 text-lg font-semibold text-white uppercase">{testimonio.title}</h1>
            </div>
    
           
            <div class="px-4 py-4">
                <h1 class="text-xl font-semibold text-gray-800 dark:text-white">{testimonio.manager}</h1>
                 <p class="py-2 h-24 text-gray-700 dark:text-gray-400">{testimonio.textCard}</p>
                 
            
                <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                    <svg aria-label="suitcase icon" class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 11H10V13H14V11Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 5V4C7 2.89545 7.89539 2 9 2H15C16.1046 2 17 2.89545 17 4V5H20C21.6569 5 23 6.34314 23 8V18C23 19.6569 21.6569 21 20 21H4C2.34314 21 1 19.6569 1 18V8C1 6.34314 2.34314 5 4 5H7ZM9 4H15V5H9V4ZM4 7C3.44775 7 3 7.44769 3 8V14H21V8C21 7.44769 20.5522 7 20 7H4ZM3 18V16H21V18C21 18.5523 20.5522 19 20 19H4C3.44775 19 3 18.5523 3 18Z"/>
                    </svg>
                    <h1 class="px-2 text-sm">Gerente Gral</h1>
                </div>
        
                <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                    <svg aria-label="location pin icon" class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.063 10.063 6.27214 12.2721 6.27214C14.4813 6.27214 16.2721 8.063 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16757 11.1676 8.27214 12.2721 8.27214C13.3767 8.27214 14.2721 9.16757 14.2721 10.2721Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.3941 5.48178 3.79418C8.90918 0.194258 14.6059 0.0543983 18.2059 3.48179C21.8058 6.90919 21.9457 12.606 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.9732 6.93028 5.17326C9.59603 2.37332 14.0268 2.26454 16.8268 4.93029C19.6267 7.59604 19.7355 12.0269 17.0698 14.8268Z"/>
                    </svg>
        
                    <h1 class="px-2 text-sm">{testimonio.province}</h1>
                </div>
                <div class="flex items-center mt-4 text-gray-700 dark:text-gray-200">
                  <svg aria-label="email icon" class="w-6 h-6 fill-current" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.00977 5.83789C3.00977 5.28561 3.45748 4.83789 4.00977 4.83789H20C20.5523 4.83789 21 5.28561 21 5.83789V17.1621C21 18.2667 20.1046 19.1621 19 19.1621H5C3.89543 19.1621 3 18.2667 3 17.1621V6.16211C3 6.11449 3.00333 6.06765 3.00977 6.0218V5.83789ZM5 8.06165V17.1621H19V8.06199L14.1215 12.9405C12.9499 14.1121 11.0504 14.1121 9.87885 12.9405L5 8.06165ZM6.57232 6.80554H17.428L12.7073 11.5263C12.3168 11.9168 11.6836 11.9168 11.2931 11.5263L6.57232 6.80554Z"/>
                  </svg>
                  
                  <h1 class="px-2 text-sm">{testimonio.email}</h1>
              </div>
                     
            </div>
            <!-- data -->
        </div>
    </swiper-slide>
 ))}

</swiper-container>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
